@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito+Sans&display=swap");
.preloader {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #0a192f;
  position: fixed;
  left: 0;
  inset: 0px;
  top: 0;
  z-index: 100;
}
.preloader .spinner {
  overflow: hidden;
  width: 70px;
  height: 70px;
  border-top: 5px solid #c61ddd;
  border-right: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 101;
}
.preloader .spinner > div {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 100%;
  animation: spin 8s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  background-color: #0a192f;
  color: #8892b0;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #c61ddd;
  border-radius: 8px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: purple;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-areas: "header" "main" "footer";
}

#header {
  grid-area: header;
}

#main {
  grid-area: main;
}

#footer {
  grid-area: footer;
}

header {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
header .logo img {
  width: 50px;
  border: 2px solid #c61ddd;
  border-radius: 50px;
}
header .bars {
  display: none;
}
header .nav-bar ol {
  display: flex;
  font-size: 1rem;
  color: #c61ddd;
  align-items: center;
  filter: contrast(10);
}
header .nav-bar ol li a {
  margin-right: 35px;
  text-decoration: none;
  color: #8892b0;
  font-size: 0.9rem;
  transition: all 0.1s 0.02s ease;
}
header .nav-bar ol li a:hover {
  color: #c61ddd;
}
header .nav-bar ol button {
  padding: 10px;
  color: #c61ddd;
  border: none;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  border: 1.5px solid #c61ddd;
  border-radius: 5px;
  background: none;
}
header .nav-bar ol button:hover {
  background-color: rgba(199, 29, 221, 0.0901960784);
}

@media screen and (max-width: 768px) {
  header {
    padding: 40px 25px;
  }
  header .bars {
    display: block;
    cursor: pointer;
    position: fixed;
    right: 20px;
    z-index: 12;
  }
  header .bars span {
    display: flex;
    width: 30px;
    height: 3.5px;
    background-color: #c61ddd;
    margin: 6px 0px;
    transition: all 0.5s;
  }
  header .bars.open .line1_bars {
    transform: translateY(5px) rotate(-45deg);
  }
  header .bars.open .line2_bars {
    opacity: 0;
    margin-left: -35px;
  }
  header .bars.open .line3_bars {
    transform: translateY(-14px) rotate(45deg);
  }
  header .nav-bar {
    height: 0px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 11;
    width: 75%;
    transition: 0.5s;
    overflow: hidden;
    background-color: #112240;
  }
  header .nav-bar.active {
    height: 100vh;
  }
  header .nav-bar.active ol {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    transition: all 2s ease;
    opacity: 1;
  }
  header .nav-bar.active ol li {
    margin-bottom: 80px;
  }
  header .nav-bar.active ol li a {
    margin: 0;
  }
  header .nav-bar.active ol button {
    margin: 0 auto;
  }
  header .nav-bar ol {
    width: fit-content;
    display: block;
    text-align: center;
    opacity: 0;
  }
}
.animate__animated.animate__slow {
  z-index: 10 !important;
}

main {
  padding: 25px;
}
main .presentacion-box {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 12rem;
}
main .presentacion-box .subtitulo h1 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #c61ddd;
}
main .presentacion-box .titulo h2 {
  font-size: 2.1rem;
  color: #ccd6f6;
}
main .presentacion-box .puesto h3 {
  font-size: 1.25rem;
  color: #8892b0;
}
main .presentacion-box .descripcion p {
  font-size: 1.2rem;
  margin-top: 2rem;
}
main .presentacion-box .btn-cv button {
  margin-top: 3rem;
  padding: 20px;
  color: #c61ddd;
  border: none;
  font-size: 0.9rem;
  width: 75%;
  font-weight: 900;
  cursor: pointer;
  border: 1.5px solid #c61ddd;
  border-radius: 5px;
  background: none;
}
main .presentacion-box .btn-cv button:hover {
  background-color: rgba(199, 29, 221, 0.0901960784);
}
main .aboutMe {
  padding: 5rem 0rem;
}
main .aboutMe .numberE {
  font-size: 1.2rem;
  color: #c61ddd;
}
main .aboutMe h2 {
  font-size: 1.8rem;
  margin: 1.5rem 0rem;
  color: #ccd6f6;
}
main .aboutMe .about-box .descripcion-box {
  margin-top: 1.5rem;
}
main .aboutMe .about-box .descripcion-box p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.8rem;
}
main .aboutMe .about-box .descripcion-box span {
  color: #c61ddd;
}
main .tecnologias-box {
  padding: 5rem 0rem;
}
main .tecnologias-box .numberE {
  font-size: 1.2rem;
  color: #c61ddd;
}
main .tecnologias-box h2 {
  font-size: 1.8rem;
  margin: 1.5rem 0rem;
  color: #ccd6f6;
}
main .tecnologias-box h3 {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #ccd6f6;
}
main .tecnologias-box ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, auto);
  justify-content: space-around;
  font-size: 1rem;
  gap: 0px 10px;
  overflow: hidden;
  list-style: none;
}
main .tecnologias-box ul a {
  text-decoration: none;
  color: #ccd6f6;
}
main .tecnologias-box ul li {
  margin-top: 10px;
}
main .tecnologias-box ul li::before {
  content: "▹";
  color: #c61ddd;
  font-size: 1.2rem;
  line-height: 12px;
}
main .proyectos-box {
  padding: 5rem 0rem;
}
main .proyectos-box .numberE {
  font-size: 1.2rem;
  color: #c61ddd;
}
main .proyectos-box h2 {
  font-size: 1.8rem;
  margin: 1.5rem 0rem;
  color: #ccd6f6;
}
main .grid-proyecto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  width: 100%;
  gap: 30px;
}
main .grid-proyecto .proyecto-container {
  display: grid;
  padding: 25px;
  grid-template-rows: repeat(4, auto);
  background-color: #112240;
}
main .grid-proyecto .proyecto-container .icons-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .grid-proyecto .proyecto-container .icons-box .principal-box i {
  font-size: 2.5rem;
  color: #c61ddd;
}
main .grid-proyecto .proyecto-container .icons-box .secundaria-box a {
  color: #8892b0;
  transition: all 0.4s ease;
}
main .grid-proyecto .proyecto-container .icons-box .secundaria-box a:hover {
  color: #c61ddd;
}
main .grid-proyecto .proyecto-container .icons-box .secundaria-box i {
  font-size: 1.4rem;
  margin-left: 1rem;
}
main .grid-proyecto .proyecto-container .title-box h2 {
  font-size: 1.35rem;
  margin: 1.8rem 0rem 0.45rem 0rem;
}
main .grid-proyecto .proyecto-container .title-box h2 a {
  color: #ccd6f6;
  transition: all 0.4s ease;
  text-decoration: none;
}
main .grid-proyecto .proyecto-container .title-box h2 a:hover {
  color: #c61ddd;
}
main .grid-proyecto .proyecto-container .descripcion-box h2 {
  font-size: 1rem;
  margin: 0.3rem 0rem;
}
main .grid-proyecto .proyecto-container .details-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
}
main .grid-proyecto .proyecto-container .details-box p {
  font-size: 0.8rem;
  color: #8892b0;
}
main .contacto-box {
  margin: 0 auto;
  padding: 4rem 0rem;
  text-align: center;
}
main .contacto-box .numberE {
  font-size: 1.2rem;
  color: #c61ddd;
}
main .contacto-box h2 {
  font-size: 1.4rem;
  margin: 1rem 0rem;
  color: #c61ddd;
}
main .contacto-box h3 {
  font-size: 1.4rem;
  color: #ccd6f6;
  margin: 1rem 0rem;
}
main .contacto-box p {
  font-size: 1rem;
  margin: 1rem 0rem 2.5rem 0rem;
}
main .contacto-box a {
  color: #c61ddd;
  background-color: transparent;
  border: 1px solid rgb(137, 4, 139);
  border-radius: 5px;
  padding: 1rem 1.65rem;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
main .contacto-box a:hover {
  background-color: rgba(120, 17, 120, 0.199);
}

@media screen and (min-width: 600px) {
  main {
    width: 90%;
    margin: 0 auto;
  }
  main .presentacion-box .subtitulo h1 {
    font-size: 1rem;
  }
  main .presentacion-box .titulo h2 {
    font-size: 3rem;
    color: #ccd6f6;
  }
  main .presentacion-box .puesto h3 {
    font-size: 2rem;
    color: #8892b0;
  }
  main .presentacion-box .descripcion p {
    font-size: 1rem;
  }
  main .presentacion-box .btn-cv button {
    width: 42%;
  }
  main .aboutMe .about-box .descripcion-box p {
    font-size: 1.2rem;
  }
  main .aboutMe .about-box .descripcion-box span {
    color: #c61ddd;
  }
  main .tecnologias-box ul {
    font-size: 1.5rem;
  }
  main .proyectos-box .grid-proyecto .proyecto-container {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 800px) {
  main {
    width: 77%;
  }
  main .presentacion-box .subtitulo h1 {
    font-size: 1rem;
  }
  main .presentacion-box .titulo h2 {
    font-size: 3.6rem;
    color: #ccd6f6;
  }
  main .presentacion-box .puesto h3 {
    font-size: 2.5rem;
    color: #8892b0;
  }
  main .presentacion-box .descripcion p {
    font-size: 1rem;
  }
  main .presentacion-box .btn-cv button {
    width: 35%;
  }
  main .proyectos-box .grid-proyecto .proyecto-container {
    width: 70%;
    margin: 0 auto;
  }
  main .proyectos-box .grid-proyecto .proyecto-container .descripcion-box h2 {
    margin: 1rem 0rem;
  }
  main .contacto-box p {
    width: 85%;
    margin: 1rem auto;
  }
  main .contacto-box .button-box {
    margin-top: 3rem;
  }
}
footer {
  margin-top: 3rem;
  padding: 1.5rem 0rem;
  text-align: center;
}
footer .grid-footer {
  display: grid;
  grid-template-rows: repeat(2, auto);
}
footer .grid-footer .redes-box {
  margin: 1rem auto;
}
footer .grid-footer .redes-box ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.3rem;
  gap: 2rem;
}
footer .grid-footer .redes-box ul li a {
  color: #8892b0;
  transition: all 0.3s ease;
}
footer .grid-footer .redes-box ul li a:hover {
  color: #c61ddd;
}
footer .email-box {
  display: none;
}
footer .copy-box {
  margin: 1rem 0rem;
}
footer .copy-box h4 {
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  footer .grid-footer {
    grid-template-columns: 1fr;
  }
  footer .grid-footer .redes-box {
    position: relative;
    margin: 1rem auto;
  }
  footer .grid-footer .redes-box ul {
    position: fixed;
    left: 2rem;
    bottom: 0rem;
    flex-direction: column;
    gap: 1.5rem;
  }
  footer .grid-footer .redes-box ul li {
    transition: all 0.4s ease;
  }
  footer .grid-footer .redes-box ul li:hover {
    color: #c61ddd;
    transform: scale(1.2);
  }
  footer .grid-footer .redes-box ul li .line-1 {
    display: block;
    width: 2px;
    background-color: #ccd6f6;
    height: 10rem;
  }
  footer .email-box {
    position: relative;
    display: block;
  }
  footer .email-box ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2rem;
    bottom: 0rem;
    align-items: center;
  }
  footer .email-box ul li {
    list-style: none;
  }
  footer .email-box ul li a {
    margin: 1rem auto;
    writing-mode: vertical-rl;
    text-decoration: none;
    color: #8892b0;
    letter-spacing: 0.1em;
    transition: all 0.4s ease;
  }
  footer .email-box ul li a:hover {
    color: #c61ddd;
    transform: scale(1.02);
  }
  footer .email-box ul li span {
    display: block;
    width: 2px;
    background-color: #ccd6f6;
    height: 10rem;
  }
}

/*# sourceMappingURL=style.css.map */
