@use "var";

main {
  padding: 25px;

  // Titulo y presentacion

  & .presentacion-box {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 15rem;
    & .subtitulo h1 {
      font-size: 1.1rem;
      margin-bottom: 1rem;
      font-weight: 600;
      color: var.$colorGeneral;
    }

    & .titulo h2 {
      font-size: 2.1rem;
      color: var.$colorTitlS;
    }

    & .puesto h3 {
      font-size: 1.25rem;
      color: var.$colorTextP;
    }

    & .descripcion p {
      font-size: 1.2rem;
      margin-top: 2rem;
    }

    & .btn-cv button {
      margin-top: 3rem;
      padding: 20px;
      color: var.$colorGeneral;
      border: none;
      font-size: 1rem;
      width: 75%;
      font-weight: 900;
      cursor: pointer;
      border: 1.5px solid var.$colorGeneral;
      border-radius: 5px;
      background: none;

      &:hover {
        background-color: #c71ddd17;
      }
    }
  }

  // Sobre mi

  & .aboutMe {
    padding: 1rem 0rem;
    margin: 4rem 0rem;
    & .numberE {
      font-size: 1.2rem;
      color: var.$colorGeneral;
    }
    & h2 {
      font-size: 1.8rem;
      margin: 1.5rem 0rem;
      color: var.$colorTitlS;
    }

    & .about-box {
      & .descripcion-box {
        margin-top: 1.5rem;
        & p {
          font-size: 1.2rem;
          font-weight: 600;
          margin-top: 0.8rem;
        }

        & span {
          color: var.$colorGeneral;
        }
      }
    }
  }

  // Tecnologias

  & .tecnologias-box {
    padding: 1rem 0rem;
    margin: 4rem 0rem;
    & .numberE {
      font-size: 1.2rem;
      color: var.$colorGeneral;
    }
    & h2 {
      font-size: 1.8rem;
      margin: 1.5rem 0rem;
      color: var.$colorTitlS;
    }

    & h3 {
      margin-top: 2rem;
      font-size: 1.2rem;
      color: var.$colorTitlS;
    }
    & ul {
      display: grid;
      width: 90%;
      grid-template-columns: repeat(2, 1fr);
      font-size: 1.3rem;
      gap: 0px 10px;
      margin: 20px auto;
      overflow: hidden;
      list-style: none;

      & a {
        text-decoration: none;
        color: var.$colorTitlS;
      }
      & li {
        margin-top: 10px;
        &::before {
          content: "▹";
          color: var.$colorGeneral;
          font-size: 1.2rem;
          line-height: 12px;
        }
      }
    }
  }

  // Proyectos

  .proyectos-box {
    padding: 1rem 0rem;
    margin: 4rem 0rem;
    & .numberE {
      font-size: 1.2rem;
      color: var.$colorGeneral;
    }
    & h2 {
      font-size: 1.8rem;
      margin: 1.5rem 0rem;
      color: var.$colorTitlS;
    }
  }

  .grid-proyecto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    width: 100%;
    gap: 30px;
    & .proyecto-container {
      display: grid;
      padding: 25px;
      grid-template-rows: repeat(4, auto);
      background-color: var.$colorSecundarioBox;
      & .icons-box {
        display: flex;
        align-items: center;

        justify-content: space-between;

        & .principal-box {
          & i {
            font-size: 2.5rem;
            color: var.$colorGeneral;
          }
        }

        & .secundaria-box {
          & a {
            color: var.$colorTextP;
            transition: all 0.4s ease;
            &:hover {
              color: var.$colorGeneral;
            }
          }
          & i {
            font-size: 1.4rem;
            margin-left: 1rem;
          }
        }
      }
      & .title-box {
        & h2 {
          font-size: 1.35rem;
          margin: 1.8rem 0rem 0.45rem 0rem;
          & a {
            color: var.$colorTitlS;
            transition: all 0.4s ease;
            text-decoration: none;
            &:hover {
              color: var.$colorGeneral;
            }
          }
        }
      }

      & .descripcion-box {
        & h2 {
          font-size: 1rem;
          margin: 0.3rem 0rem;
        }
      }

      & .details-box {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 1rem;
        & p {
          font-size: 0.8rem;
          color: var.$colorTextP;
        }
      }
    }
  }

  // Contacto
  .contacto-box {
    margin: 0 auto;
    padding: 3.5rem 0rem;
    text-align: center;
    & .numberE {
      font-size: 1.2rem;
      color: var.$colorGeneral;
    }
    & h2 {
      font-size: 1.4rem;
      margin: 1rem 0rem;
      color: var.$colorGeneral;
    }
    & h3 {
      font-size: 1.4rem;
      color: var.$colorTitlS;
      margin: 1rem 0rem;
    }

    & p {
      font-size: 1rem;
      margin: 1rem 0rem 2.5rem 0rem;
    }

    & a {
      color: var.$colorGeneral;
      background-color: transparent;
      border: 1px solid rgb(137, 4, 139);
      border-radius: 5px;
      padding: 1rem 1.65rem;
      font-size: 1rem;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: rgba(120, 17, 120, 0.199);
      }
    }
  }
}
